  <div class="row">
    <div class="col-6 p-4 my-auto">
      <div class="container">
        <h1>Nearly there...</h1>
        <h2>Create a free account!</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs container">
          <%= f.input :nickname, class: "form-control",
                      placeholder: "What should we call you?",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "nickname" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
      <div class="form-actions container">
        <%= f.button :submit, "Sign up", class: "btn btn-success form-control" %>
      </div>
      <% end %>
      <div class="container mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="col-6">
      <div style="background-image: url(<%= asset_path 'sign-up.jpg' %>); background-size: cover; background-position: center; height: 100vh;"></div>
    </div>
  </div>
