<div class="card" id="album">
  <div class="card-img" id="album-img" style="background-image:url(<%= album[:cover_image_url] %>);">
		<div class="overlay">
			<div class="overlay-content">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#_<%= album[:id] %>">
          View Album
        </button>
			</div>
		</div>
	</div>

	<div class="card-content" id="album-content">
			<h2> <%= album[:title] %> </h2>
      <small class="text-muted"> <%= album[:artist] %> </small>
			<p> <%= album[:year] %> </p>
	</div>
</div>

<%= render "shared/search_modal", album: album %>
