<!-- Modal -->
<div class="modal fade" id="<%= album[:title].gsub(/[!@%&0-9,\(\)\s+]/, "") %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= album[:title] %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card card-info" style="width: 18rem;">
          <div>
            <img class="card-img-top" style="height: 300px; background-image: url(<%= album[:cover_image_url] %>);">
            <div class="card-body" id="album-info">
              <h5 class="card-title"><%= album[:artist] %></h5>
              <p class="card-text"><%= album[:year] %></p>
            </div>
          </div>
          <div class="card-body" id="tracks">
            <p><% album[:tracks].each do |track| %></p>
            <p><%= track.name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
