<div class="card" id="album">
  <div class="card-img" id="album-img" style="background-image:url(<%= stack_album.album[:cover_image_url] %>);">
		<div class="overlay">
			<div class="overlay-content">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#_<%= stack_album.album[:spotify_id] %>">
          View Album
        </button>
			</div>
		</div>
	</div>

	<div class="card-content" id="album-content">
      <% if stack_album.album[:title].size > 25 %>
			  <h2 data-toggle="tooltip"
            data-placement="right"
            title="<%= stack_album.album[:title] %>">
            <%= stack_album.album[:title][0, 28] %>... </h2>
      <% else %>
        <h2> <%= stack_album.album[:title] %> </h2>
      <% end %>
      <small class="text-muted"> <%= stack_album.album[:artist] %> </small>
			<p> <%= stack_album.album[:year] %> </p>
	</div>
</div>

<%= render "shared/stack_modal", stack_album: stack_album %>
