<div class="modal fade" id="<%= album[:title].gsub(/[!@%&0-9\'\,\(\)\s+]/, "") %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"><%= album[:artist] %></h1>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag album[:cover_image_url], class: "album-img" %>
              <div class="pt-3">
                <h2><%= album[:title] %></h2>
                <h3><%= album[:year] %></h3>
              </div>
            </div>
            <div class="col-md-6 tracklist">
              <h2 class="sub-header">Tracklist:</h2>
              <% (album[:tracks].nil? ? album.tracks : album[:tracks]).each do |track| %>
                <p><%= track.name %></p>
                <%#= raise %>
              <% end %>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
            <div class="col-sm-9">
              <div class="row">
                <div class="col-8 col-sm-6">
                </div>
                <div class="col-4 col-sm-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mx-auto">
        <a href="" data-bs-dismiss="modal" style="color: red;">back</a>
      </div>
    </div>
  </div>
</div>
