<div class="modal fade" id="_<%= track[:spotify_id] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= track[:artist] %></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body track-body">
        <div>
          <%= track[:name] %>
        </div>
        <h2><%= track[:duration] %></h2>
      </div>
      <div class="modal-footer track-footer">
        <div>
          <%= link_to "New Set", new_setlist_path(track), class: "btn btn-outline-primary align-top" %>
        </div>
        <div>
          <%= simple_form_for [@setlist, @set_track],
              wrapper: :inline_form,
              html: { class: "row row-cols-lg-auto g-2 align-items-baseline" } do |f| %>
              <%= f.input :setlist_id, collection: @setlists, selected: @setlists.first, label: false %>
              <%= f.hidden_field :track_id, value: track[:spotify_id] %>
              <%= f.submit 'Add to Set', class: "btn btn-outline-secondary", "data-bs-dismiss": "modal"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
