<div class="card-product m-3 search-card" data-type="<%= track[:type] %>">
  <img src="<%= track[:cover_image_url] %>" />
  <div class="card-product-infos">
    <h2><%= track[:name] %></h2>
    <p><%= track[:artist] %></p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#_<%= track[:spotify_id] %>">
          Add Track
    </button>
  </div>
</div>
  <%= render 'shared/track_modal', track: track %>
