<div class="user-card">
  <div class="user-img">
    <% if user.avatar.attached? %>
      <a href="<%= dashboard_path(user) %>"> <%= image_tag user.avatar, class: "avatar-mega" %> </a>
    <% else %>
      <a href="<%= dashboard_path(user) %>"> <%= image_tag "sets_logo.svg", class: "avatar-mega" %> </a>
    <% end %>
  </div>
  <div class="user-info">
    <div class="user-inner">
      <h2><%= user.nickname %></h2>

      <div>
        <% if user.stack.albums.exists? %>
          <p><%= user.stack.albums.count %> albums</p>
        <% else %>
          <p>No albums in their stack...</p>
        <% end %>
        <% if user.setlists.exists? %>
          <% if user.setlists.count == 1 %>
            <p><%= user.setlists.count %> set</p>
          <% else %>
            <p><%= user.setlists.count %> sets</p>
          <% end %>
        <% else %>
          <p> No sets created yet... </p>
        <% end %>
      </div>
    </div>
    <div class="user-social">
      <p><%= user.favoritors.count %> followers
        <%= link_to toggle_favorite_user_path(user), remote: true, method: :post do %>
          <%= render 'users/like_button', user: user %>
        <% end %>
      </p>
    </div>
  </div>
</div>
