<div class="user-card">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "avatar-mega" %>
    <% else %>
      <%= image_tag "sets_logo.svg", class: "avatar-mega" %>
    <% end %>
	<h3><%= user.nickname %></h3>
	<div class="btn-container">
		<a class="btn btn-success">
			Profile
		</a>
		<a class="btn btn-outline-info">
      Follow
		</a>
	</div>
  <div class="p-3">
    <p>followers</p>
    <p><% if user.setlists.exists? %>
          <% if user.setlists.count == 1 %>
            <%= user.setlists.count %> set</p>
          <% else %>
            <%= user.setlists.count %> sets</p>
          <% end %>
      <% else %>
        No sets created yet...
      <% end %>
  </div>
</div>
