<div class="dash-top">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, class: "avatar-mega" %>
        <% else %>
          <%= image_tag "sets_logo.svg", class: "avatar-mega" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h2><%= @user.nickname %></h2>
    <div class="m-3 mx-auto underline"></div>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p>Followers</p>
    <p>Member since... <%= @user.created_at %></p>
  </div>
</div>





<div class="dash-mid">
  <div class="container p-3">
    <h1>Stack</h1>
    <div class="dash-cards">
      <% if @stack.stack_albums.empty? %>
        <p>Nothing in your Stack yet...</p>
        <%= link_to 'Add to Stack', search_path, class: "btn btn-primary" %>
      <% else %>
        <% @stack.stack_albums.each do |stack_album| %>
          <%= render 'shared/stack_album_card', stack_album: stack_album %>
        <% end %>
      <% end %>
    </div>


    <h1>Sets</h1>
    <div class="dash-cards">
    <% if @setlists.empty? %>
      <div class="container text-center">
        <p>No sets created yet...</p>
        <%= link_to 'Create new Setlist', new_setlist_path, class: "btn btn-primary" %>
      </div>
    <% else %>
      <% @setlists.each do |setlist| %>
        <%#= render 'shared/setlist_modal', setlist: setlist  %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
