<div class="dash-top">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar-mega" %>
        <% else %>
          <%= image_tag "sets_logo.svg", class: "avatar-mega" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h2><%= current_user.nickname %></h2>
    <div class="m-3 mx-auto underline"></div>
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Followers</p>
    <p>Member since...</p>
  </div>
</div>
<div class="dash-mid">
  <div class="container p-3">
    <h1>Sets</h1>
    <div class="dash-cards">
      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://upload.wikimedia.org/wikipedia/en/a/ac/Air_-_Moon_Safari.png);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>Moon Safari</h2>
            <small class="text-muted">Air</small>
            <p>1998, Vinyl</p>
          </a>
        </div>
      </div>

      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://upload.wikimedia.org/wikipedia/en/thumb/f/f5/Dua_Lipa_-_Future_Nostalgia_%28Official_Album_Cover%29.png/220px-Dua_Lipa_-_Future_Nostalgia_%28Official_Album_Cover%29.png);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>Future Nostalgia</h2>
            <small class="text-muted">Dua Lipa</small>
            <p>1963, Vinyl</p>
          </a>
        </div>
      </div>

      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://i.scdn.co/image/ab6761610000e5eb5bd2ea1dc8afb6d64169c85c);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>DJ Jens Greatest Hits, Ja?</h2>
            <small class="text-muted">DJ Jens</small>
            <p>2022 Repress, Vinyl</p>
          </a>
        </div>
      </div>
    </div>

    <h1>Stack</h1>
    <div class="dash-cards">
      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://upload.wikimedia.org/wikipedia/en/a/ac/Air_-_Moon_Safari.png);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>Moon Safari</h2>
            <small class="text-muted">Air</small>
            <p>1998, Vinyl</p>
          </a>
        </div>
      </div>

      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://upload.wikimedia.org/wikipedia/en/thumb/f/f5/Dua_Lipa_-_Future_Nostalgia_%28Official_Album_Cover%29.png/220px-Dua_Lipa_-_Future_Nostalgia_%28Official_Album_Cover%29.png);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>Future Nostalgia</h2>
            <small class="text-muted">Dua Lipa</small>
            <p>1963, Vinyl</p>
          </a>
        </div>
      </div>

      <div class="card" id="album">
        <div class="card-img" id="album-img" style="background-image:url(https://i.scdn.co/image/ab6761610000e5eb5bd2ea1dc8afb6d64169c85c);">
          <div class="overlay">
            <div class="overlay-content">
              <a class="hover" href="#!">View Album</a>
            </div>
          </div>
        </div>

        <div class="card-content" id="album-content">
          <a href="#!">
            <h2>DJ Jens Greatest Hits, Ja?</h2>
            <small class="text-muted">DJ Jens</small>
            <p>2022 Repress, Vinyl</p>
          </a>
        </div>
      </div>
      </div>
  </div>
</div>
