<% @albums.each do |album| %>
<div class="card" id="album">
	<div class="card-img" id="album-img" style="background-image:url(https://i.scdn.co/image/ab6761610000e5eb5bd2ea1dc8afb6d64169c85c);">
		<div class="overlay">
			<div class="overlay-content">
				<%# <a class="hover" href="#!">View Album</a> %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%= album[:id] %>">
        View Album
        </button>
			</div>
		</div>
	</div>

	<div class="card-content" id="album-content">
		<a href="#!">
			<h2><%= album.title %></h2>
      <small class="text-muted"><%= album.artist %></small>
			<p><%= album.year %></p>
		</a>
	</div>
</div>
<%= render 'shared/modal', album: album %>
<% end %>
